@using Microsoft.AspNetCore.Identity
@using Lab04.WebsiteBanHang.Models
@using Lab04.WebsiteBanHang.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Manage" title="Quản lý tài khoản">
                <i class="fas fa-user"></i> @User.Identity?.Name
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" >
                <button type="submit" class="nav-link btn btn-link text-dark">
                    <i class="fas fa-sign-out-alt"></i> Đăng xuất
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">
                <i class="fas fa-user-plus"></i> Đăng ký
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">
                <i class="fas fa-sign-in-alt"></i> Đăng nhập
            </a>
        </li>
    }
</ul>